@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: 'bahnschrift';
  src: url("../font/bahnschrift.ttf");
}

.area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.area.gray {
  background-color: #f8fbf8;
}

.area.timer {
  background-color: #ee504d;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
}

.container.top {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.container.full {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.container.nav {
  max-width: 100%;
}

.container.footer {
  max-width: 100%;
  width: 100%;
  padding: 0 80px;
}

.top__banner.sp {
  display: none;
}

.matsuri__block {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.matsuri__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-shadow: 0 0 60px #0000001f;
          box-shadow: 0 0 60px #0000001f;
  position: fixed;
  width: 60px;
  height: 100000vh;
  background-color: #ffffff9c;
  top: 0;
  z-index: 99;
}

.matsuri__box.right {
  right: 20px;
}

.matsuri__box.left {
  left: 20px;
}

.matsuri__banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-transition: 80ms all ease-in-out;
  -o-transition: 80ms all ease-in-out;
  transition: 80ms all ease-in-out;
  position: relative;
  top: 0;
  height: 100%;
  background-repeat: repeat-y;
  background-position: top;
  background-size: 100%;
  background-image: url("../images/matsuri.jpg");
}

.matsuri__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 100%;
  height: 300px;
  color: #d1322f;
  font-size: 2rem;
}

.matsuri__text div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  min-width: 140px;
  font-weight: bold;
}

.matsuri__text span {
  font-weight: bold;
}

.timer__block {
  color: #fff4dc;
  padding: 32px;
}

.timer__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  font-size: 1.75rem;
}

.timer__title__text {
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
}

.timer__icon {
  width: 40px;
  height: 40px;
}

.timer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 12px 0 0 14px;
}

.timer__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  width: auto;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

.timer__time > span {
  display: inline-block;
  color: #ee504d;
  font-size: 4rem;
  margin: 0 2px 0;
  min-width: 45px;
  padding: 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: 'bahnschrift';
  font-weight: 400;
  position: relative;
  z-index: 5;
}

.timer__time > span:before {
  content: '';
  position: absolute;
  border-radius: 4px;
  top: 0px;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 90%;
  background-color: #fff4dc;
  z-index: -1;
}

.timer__text {
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  font-size: 2em;
  padding: 0 12px 8px 2px;
}

.timer--hide {
  display: none;
}

.nav__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 6px 0;
  background-color: #fff4dc;
}

.nav__block a {
  color: unset;
  text-decoration: unset;
}

.nav__block.nav--fixed {
  position: fixed;
  z-index: 100;
  top: 0px;
  -webkit-box-shadow: 0 0 20px #00000036;
          box-shadow: 0 0 20px #00000036;
}

.nav__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: calc(80% / 5);
  position: relative;
}

.nav__box:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1.5px;
  height: 90%;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto auto;
  z-index: 1;
  background-color: #ee504d;
  right: -1px;
}

.nav__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  padding: 0 28px 0;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: table-ceil;
  min-height: 36px;
  color: #ee504d;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav__text:hover {
  opacity: 0.75;
}

.nav__text h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0px;
  overflow: hidden;
}

.nav__icon {
  font-size: 1.25rem;
  color: #ee504d;
}

.content__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin: 30px 0 40px;
  max-width: 1280px;
}

.content__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin: 12px 0;
}

.content__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin: 48px 0;
  max-width: 1280px;
}

.content__box a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.content__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 600;
  background-color: #ee504d;
  padding: 18px 20px;
  margin: 16px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  color: #fff4dc;
  cursor: pointer;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 100ms all ease-in-out;
  -webkit-box-shadow: 0px 8px 0 #db3f40, 0 0 20px #00000036;
          box-shadow: 0px 8px 0 #db3f40, 0 0 20px #00000036;
}

.content__button:hover {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.content__button:active {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.content__button:active {
  -webkit-box-shadow: 0px 6px 0 #db3f40, 0 0 20px #00000036;
          box-shadow: 0px 6px 0 #db3f40, 0 0 20px #00000036;
}

.content__button i {
  margin: 0 0 0 10px;
}

.content__tags {
  max-width: 1200px;
}

.item__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 10px;
}

.item__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  border-radius: 15px;
  padding: 2%;
  border: 2px solid #b3b3b3;
  color: #464646;
  margin: 18px;
  max-width: 30%;
}

.item__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.item__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 340px;
  object-fit: cover;
}

.item__name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  margin: 8px 0;
}

.item__name:hover {
  opacity: 0.7;
}

.item__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  font-size: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin: 8px 0;
  font-weight: bold;
  color: #464646;
}

.item__description:hover {
  opacity: 0.7;
}

.item__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  color: #ffffff;
  padding: 16px 0;
  margin: 11px 0;
  font-size: 1.5rem;
  background-color: #ee504d;
  position: relative;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item__button:hover {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.item__button:active {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.item__button:active::before {
  -webkit-transform: scaleY(0.9);
      -ms-transform: scaleY(0.9);
          transform: scaleY(0.9);
}

.item__button::before {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  min-height: 105%;
  position: absolute;
  border-radius: 8px;
  top: 2px;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

.item__button:after {
  position: absolute;
  right: 15px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 4px 0;
}

.item__button.primary {
  background-color: #ee504d;
}

.item__button.primary::before {
  -webkit-box-shadow: 0 0 0 1.5px #ee504d;
          box-shadow: 0 0 0 1.5px #ee504d;
}

.item__button.primary::after {
  content: '›';
  padding: 0 5px 0px 0;
  font-size: 2rem;
}

.item__button.gray {
  background-color: #313131;
}

.item__button.gray::before {
  -webkit-box-shadow: 0 0 0 1.5px #313131;
          box-shadow: 0 0 0 1.5px #313131;
}

.item__button.gray::after {
  content: '+';
}

.item__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'bahnschrift';
  font-weight: 1000;
  font-size: 3.25rem;
  color: #d1322f;
}

.item__price img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 25%;
  height: 25%;
}

.item__price span {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0 -5%;
}

.obvious .top {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.obvious .top .item__box {
  margin: 20px;
  max-width: 45%;
}

.obvious .top .item__image {
  width: 530px;
  height: 530px;
}

.obvious .top .item__name {
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.obvious .top .item__price {
  font-size: 5.5rem;
}

.obvious .top .item__price span {
  font-size: 2rem;
}

.full-width a {
  width: unset;
}

.full-width .item__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.full-width .item__box {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.full-width .item__body {
  max-width: calc(100% - 515px);
  padding: 0 0 0 15px;
}

.full-width .item__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.full-width .item__name {
  font-size: 2rem;
}

.full-width .item__price {
  font-size: 5rem;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.full-width .item__price img {
  width: 20%;
  height: 20%;
}

.full-width .item__button {
  width: 100%;
}

.swiper__block {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.swiper__block:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.swiper-wrapper {
  -webkit-box-pack: unset;
  -webkit-justify-content: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  max-width: 396px;
  height: auto;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
  padding: 30px;
  border-radius: 100px;
  background-color: #ffffff;
  drop-shadow: 2px 2px 5px #000000ee;
  width: 40px;
  height: 40px;
  font-size: 0.5rem;
}

.swiper a {
  cursor: pointer;
}

.more {
  opacity: 1;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  -webkit-box-shadow: 0px 8px 0 #db3f40, 0 0 20px #00000036;
          box-shadow: 0px 8px 0 #db3f40, 0 0 20px #00000036;
}

.more__secondary {
  background-color: #f9dc5c;
  color: #272727;
  -webkit-box-shadow: 0px 8px 0 #d8bd46, 0 0 20px #00000036;
          box-shadow: 0px 8px 0 #d8bd46, 0 0 20px #00000036;
}

.more__secondary:active {
  -webkit-box-shadow: 0px 6px 0 #d8bd46, 0 0 20px #00000036;
          box-shadow: 0px 6px 0 #d8bd46, 0 0 20px #00000036;
}

.more--active {
  pointer-events: none;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.search__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 24px;
}

.search__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.search__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  border-radius: 12px;
  text-align: left;
  padding: 15px 100px 15px 25px;
  border: 2px solid #d1322f;
  min-height: 72px;
  position: relative;
  font-size: 1.5rem;
  color: #ee504d;
  font-weight: bold;
  position: relative;
}

.search__input::-webkit-input-placeholder {
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  color: #ee504d;
}

.search__input::-moz-placeholder {
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  color: #ee504d;
}

.search__input:-ms-input-placeholder {
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  color: #ee504d;
}

.search__input::-ms-input-placeholder {
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  color: #ee504d;
}

.search__input::placeholder {
  font-family: 'Noto+Sans+JP', FontAwesome, 'Zen Kaku Gothic New';
  font-weight: 400;
  color: #ee504d;
}

.search__submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  z-index: 1;
  color: #d1322f;
  font-size: 2rem;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.search__submit:hover {
  opacity: 0.7;
}

.search__submit:hover {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.search__submit:active {
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

.tag__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  width: 900px;
  flex-wrap: wrap;
}

.tag__block a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  font-family: 'bahnschrift';
  font-weight: 400;
  width: auto;
  padding: 10px 30px;
  font-size: 1rem;
  border: 1px solid #ee504d;
  border-radius: 100px;
  margin: 5px;
  color: #ee504d;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
  position: relative;
}

.tag__block a:hover {
  opacity: 0.7;
}

.tag__block a:active {
  top: 3px;
}

.tag-move {
  -webkit-transition: -webkit-transform 1400ms ease-in-out !important;
  transition: -webkit-transform 1400ms ease-in-out !important;
  -o-transition: transform 1400ms ease-in-out !important;
  transition: transform 1400ms ease-in-out !important;
  transition: transform 1400ms ease-in-out, -webkit-transform 1400ms ease-in-out !important;
}

.expension {
  overflow: hidden;
  display: none;
}

.coupon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.coupon .content__ele {
  width: 100%;
  max-width: 240px;
  margin: 10px;
}

.coupon .image {
  max-width: 240px;
  max-height: 240px;
}

.footer__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.footer__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin: 30px 0;
  position: relative;
  padding: 0 0 0 120px;
}

.footer__item {
  background-color: #ee504d;
  color: #fff4dc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 8px 0;
  font-family: 'bahnschrift';
  font-weight: 400;
  margin: 20px 0 0 0;
  font-size: 1.5rem;
}

.footer__image {
  width: 100%;
  max-width: 385px;
  padding: 20px;
}

.footer__image.flow {
  padding: 0;
  max-width: 100%;
}

.footer__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  width: 100%;
  max-width: 380px;
  height: 80px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: -120px;
  top: 180px;
}

.footer__title span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  font-family: 'bahnschrift';
  font-weight: 400;
  color: #5e5e5e;
  font-weight: bold;
  padding: 0 0 0 15px;
  font-size: 1.25rem;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: left;
}

.footer__title h3 {
  font-family: 'bahnschrift';
  font-weight: 400;
  font-size: 3rem;
  font-weight: bold;
  color: #d1322f;
}

.gotop__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  position: fixed;
  z-index: 99;
  bottom: 45px;
  right: 100px;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  font-size: 1.5rem;
  color: #fff4dc;
  cursor: pointer;
  background-color: #00000057;
  border-radius: 3px;
}

.gotop__box:hover {
  opacity: 0.85;
}

.gotop__box i {
  padding: 0 0 5px 0;
}

@media all and (max-width: 1340px) {
  .search__block {
    max-width: 86%;
  }
}

@media all and (max-width: 1280px) {
  .container.nav {
    max-width: 100%;
  }
  .nav__box {
    max-width: calc(100% / 5);
  }
  .nav__text {
    padding: 0;
    font-size: 1.25rem;
  }
  .nav__icon {
    color: #ee504d;
  }
  .content__block {
    margin: 24px 0;
  }
  .content__button {
    padding: 16px 4px;
    font-size: 1rem;
  }
  .item__box {
    margin: 8px 1%;
    max-width: 48%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item__image {
    width: 100%;
    max-width: 42vw;
    height: 42vw;
  }
  .item__price {
    font-size: 7vw;
  }
  .item__price img {
    width: 30%;
    height: 30%;
  }
  .item__price span {
    font-size: 1.5rem;
  }
  .item__button {
    padding: 10px 0;
    font-size: 3vw;
  }
  .obvious .top .item__box {
    margin: 8px 1%;
    max-width: 48%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .obvious .top .item__image {
    width: 100%;
    max-width: 42vw;
    height: 42vw;
  }
  .obvious .top .item__name {
    font-size: 1.2rem;
    margin: 8px 0;
  }
  .obvious .top .item__price {
    font-size: 7vw;
  }
  .obvious .top .item__price span {
    font-size: 2rem;
  }
  .coupon .content__ele {
    width: 28%;
    max-width: 240px;
    margin: 4px;
  }
  .footer__box {
    margin: 20px 0;
    padding: 0;
  }
  .footer__title {
    display: none;
  }
  .footer__image {
    max-width: 33%;
    padding: 10px;
  }
  .footer__image.flow {
    display: none;
  }
}

@media all and (max-width: 980px) {
  .container.footer {
    padding: 0;
  }
  .matsuri__block {
    display: none;
  }
  .full-width .item__body {
    max-width: 100%;
  }
  .full-width .item__image {
    width: 96vw;
    height: 96vw;
  }
  .full-width .item__price {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12vw;
  }
  .footer__image {
    max-width: 100%;
    padding: 30px;
  }
  .footer__image.pc {
    display: none;
  }
  .footer__image.sp {
    display: inline-block;
  }
  .gotop__box {
    right: 30px;
  }
}

@media all and (max-width: 768px) {
  .container.top {
    height: 130vw;
  }
  .container.top a {
    height: 130vw;
  }
  .top__banner.sp {
    display: block;
  }
  .top__banner.pc {
    display: none;
  }
  .timer__block {
    padding: 24px;
  }
  .timer__time > span {
    font-size: 3rem;
    min-width: 35px;
  }
  .content__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    margin: 16px 0;
  }
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 0.5rem;
    padding: 10px;
  }
  .nav__block {
    padding: 12px 0;
  }
  .nav__box:not(:last-child)::after {
    width: 1px;
  }
  .nav__icon {
    font-size: 0.75rem;
  }
  .nav__text {
    font-size: 0.5rem;
  }
}

@media all and (max-width: 576px) {
  .timer__block {
    padding: 16px 12px;
  }
  .timer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    padding: 6px 0 0 2px;
  }
  .timer__title {
    font-size: 0.8rem;
  }
  .timer__icon {
    width: 25px;
    height: 25px;
  }
  .timer__time > span {
    min-width: 15px;
    font-size: 1.5rem;
  }
  .timer__text {
    padding: 0 6px 4px 3px;
    font-size: 0.75em;
  }
  .nav__block {
    padding: 6px 0;
  }
  .nav__text {
    font-size: 0.5rem;
  }
  .item__button {
    padding: 8px 0;
    margin: 6px 0;
  }
  .item__button:after {
    display: none;
  }
  .obvious .top .item__price span {
    font-size: 1.25rem;
  }
  .search__block {
    padding: 8px 6px;
    max-width: 100%;
  }
  .search__input {
    padding: 10px 60px 10px 10px;
    width: 100%;
    font-size: 1.25rem;
  }
  .search__submit {
    font-size: 1.5rem;
    max-width: 60px;
    max-height: 60px;
  }
}

@media all and (max-width: 400px) {
  .item__price {
    font-size: 1.4rem;
  }
  .item__price span {
    font-size: 1rem;
  }
}
