<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Default # -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Viewider, Irene, Yilan, Rein" />
    <!-- # -->
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="description"
      content="台湾で人気のショップから、新商品が続々入荷！お得な商品やトレンド商品を要チェック。"
    />
    <meta
      name="keywords"
      content="台湾,お土産,手土産,産地直送,デザート,お菓子,雑貨,グルメ,お中元,お歳暮,成人祝い,入学祝,卒業祝い,餞別,結婚祝い,出産祝い,誕生日,成人祝い,昇進祝い,敬老の日,母の日,父の日,クリスマス,バレンタイン"
    />
    <!-- Open graph -->
    <meta property="og:title" content="【楽天市場】 [イベントページ]" />
    <meta
      property="og:description"
      content="台湾で人気のショップから、新商品が続々入荷！お得な商品やトレンド商品を要チェック。"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/og_image.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:locale" content="ja_jp" />
    <meta property="og:image:alt" content="台湾 お土産 手土産 産地直送" />
    <meta property="og:image:width" content="280" />
    <meta property="og:image:height" content="280" />
    <title>Event page new</title>
    <link rel="icon" href="images/favicon.png" sizes="64x64" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.0/dist/locomotive-scroll.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="css/splide.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/style.css?v=1.2" />
    <link rel="stylesheet" href="css/custom.css?v=1.0" />
  </head>
  <body>
    <div id="app">
      <!-- Top banner -->
      <div class="area">
        <div class="container top">
          <a href="#">
            <img class="image top__banner pc" src="images/main_banner.jpg" />
            <img class="image top__banner sp" src="images/main_banner_sp.jpg" />
          </a>
        </div>
      </div>

      <!-- Special matsuri decoration -->
      <div class="matsuri__block">
        <div class="matsuri__box right">
          <div
            class="matsuri__banner marquee"
            data-scroll
            data-scroll-speed="-2"
          ></div>
        </div>
        <div class="matsuri__box left">
          <div
            class="matsuri__banner marquee"
            data-scroll
            data-scroll-speed="-2"
          ></div>
        </div>
      </div>

      <!-- Timer -->
      <div class="area timer">
        <div class="container">
          <div class="timer__block">
            <div class="timer__title" data-aos="fade-up">
              <img
                class="timer__icon"
                src="images/clock.svg"
                alt="timer icon"
              />
              <h3 class="timer__title__text">セール終了まで、あと</h3>
            </div>
            <div class="timer__content">
              <div
                class="timer__box"
                data-aos="fade-up"
                data-aos-duration="200"
              >
                <div class="timer__time">
                  <span class="timer__time__day day__ten">0</span>
                  <span class="timer__time__day day__digit">0</span>
                </div>
                <span class="timer__text">日</span>
              </div>
              <div
                class="timer__box"
                data-aos="fade-up"
                data-aos-duration="300"
              >
                <div class="timer__time">
                  <span class="timer__time__hour hour__ten">0</span>
                  <span class="timer__time__hour hour__digit">0</span>
                </div>
                <span class="timer__text">時間</span>
              </div>
              <div
                class="timer__box"
                data-aos="fade-up"
                data-aos-duration="400"
              >
                <div class="timer__time">
                  <span class="timer__time__minute minute__ten">0</span>
                  <span class="timer__time__minute minute__digit">0</span>
                </div>
                <span class="timer__text">分</span>
              </div>
              <div
                class="timer__box"
                data-aos="fade-up"
                data-aos-duration="500"
              >
                <div class="timer__time">
                  <span class="timer__time__second second__ten">0</span>
                  <span class="timer__time__second second__digit">0</span>
                </div>
                <span class="timer__text">秒</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Navs -->
      <div id="Nav" class="area nav">
        <div class="container nav">
          <nav id="Navbar" class="nav__block">
            <a
              class="nav__box"
              href="#EventTop"
              data-aos="fade-up"
              data-aos-delay="100"
              data-aos-duration="700"
            >
              <div class="nav__text">
                <h5>
                  タイトル
                  <br />
                  前言
                </h5>
              </div>
              <span class="nav__icon">
                <i class="fas fa-chevron-circle-down"></i>
              </span>
            </a>
            <a
              class="nav__box"
              href="#Coupon"
              data-aos="fade-up"
              data-aos-delay="150"
              data-aos-duration="700"
            >
              <div class="nav__text">
                <h5>
                  タイトル
                  <br />
                  Coupon
                </h5>
              </div>
              <span class="nav__icon">
                <i class="fas fa-chevron-circle-down"></i>
              </span>
            </a>
            <a
              class="nav__box"
              href="#SlideItem"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="700"
            >
              <div class="nav__text">
                <h5>
                  タイトル
                  <br />
                  Slide items
                </h5>
              </div>
              <span class="nav__icon">
                <i class="fas fa-chevron-circle-down"></i>
              </span>
            </a>
            <a
              class="nav__box"
              href="#FullItem"
              data-aos="fade-up"
              data-aos-delay="250"
              data-aos-duration="700"
            >
              <div class="nav__text">
                <h5>
                  タイトル
                  <br />
                  Full items
                </h5>
              </div>
              <span class="nav__icon">
                <i class="fas fa-chevron-circle-down"></i>
              </span>
            </a>
            <a
              class="nav__box"
              href="#Tags"
              data-aos="fade-up"
              data-aos-delay="300"
              data-aos-duration="700"
            >
              <div class="nav__text">
                <h5>
                  タイトル
                  <br />
                  Tags
                </h5>
              </div>
              <span class="nav__icon">
                <i class="fas fa-chevron-circle-down"></i>
              </span>
            </a>
          </nav>
        </div>
      </div>

      <!-- Event banner -->
      <div id="EventTop" class="area">
        <div class="container full">
          <a href="" target="_blank">
            <img
              class="image"
              src="https://fakeimg.pl/1920x500/ee504d/fff4dc"
            />
          </a>
        </div>
      </div>

      <!-- Content block A - Top banner -->
      <div class="area">
        <div class="container">
          <div class="content__block">
            <div class="content__title">
              <img
                class="image"
                src="https://fakeimg.pl/1280x250/ee504d/fff4dc"
                alt="main shop item image"
              />
            </div>
            <div class="content__item">
              <a href="#" target="_blank">
                <img
                  class="image"
                  loading="lazy"
                  src="images/banner2.jpg"
                  alt="main shop item image"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Content block B - Coupon blocks -->
      <div class="area">
        <div class="container">
          <div class="content__block">
            <div class="content__title">
              <img
                class="image"
                src="https://fakeimg.pl/1280x250/ee504d/fff4dc"
                alt="shop item image"
                loading="lazy"
              />
            </div>
            <div class="content__box coupon" data-aos="fade-up">
              <a class="content__ele" href="#">
                <img
                  class="image"
                  src="https://image.rakuten.co.jp/twdirect/cabinet/08866562/20220523_father/05_urbaner10_240v2.jpg"
                  alt="main shop item image"
                />
              </a>
              <a class="content__ele" href="#">
                <img
                  class="image"
                  src="https://image.rakuten.co.jp/twdirect/cabinet/08866562/20220523_father/05_ab6530_240v2.jpg"
                  alt="main shop item image"
                />
              </a>
              <a class="content__ele" href="#">
                <img
                  class="image"
                  src="https://image.rakuten.co.jp/twdirect/cabinet/08866562/20220523_father/05_carplay30v3_240.jpg"
                  alt="main shop item image"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Content block C - Obvious blocks -->
      <div id="Coupon" class="area">
        <div class="container">
          <div class="content__block">
            <div class="content__title">
              <img
                class="image"
                src="https://fakeimg.pl/1280x250/ee504d/fff4dc"
                alt="shop item image"
                loading="lazy"
              />
            </div>

            <div class="content__box obvious">
              <ul class="item__block top" data-aos="fade-up">
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
              </ul>
              <ul class="item__block sub" data-aos="fade-up">
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
              </ul>
              <div class="expension">
                <ul class="item__block sub">
                  <li class="item__box">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                    アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                  <li class="item__box">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                    アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                  <li class="item__box">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                    アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content__button more">
                <span>もっと見る</span>
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content block D - Slide blocks -->
      <div id="SlideItem" class="area">
        <div class="container">
          <div class="content__block">
            <div class="content__title">
              <img
                class="image"
                src="https://fakeimg.pl/1280x250/ee504d/fff4dc"
                alt="shop item image"
                loading="lazy"
              />
            </div>

            <section
              class="content__box swiper__block swiper__1 splide swiper-no-swiping"
              role="group"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <div class="splide__track">
                <ul
                  class="item__block sub swiper-wrapper splide__list swiper-no-swiping"
                >
                  <li class="item__box swiper-slide splide__slide">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                  <li class="item__box swiper-slide splide__slide">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                  <li class="item__box swiper-slide splide__slide">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                  <li class="item__box swiper-slide splide__slide">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                  <li class="item__box swiper-slide splide__slide">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                  <li class="item__box swiper-slide splide__slide">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <img
                        src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                        class="item__image"
                        loading="lazy"
                        alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      />
                    </a>
                    <div class="item__body">
                      <a
                        target="_blank"
                        href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                      >
                        <div
                          class="item__name"
                          title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                        >
                          喜之坊パイナップルケーキ（320g/8個入）お菓子
                          アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        </div>
                      </a>
                      <div class="item__price">
                        <img src="images/item-tag.svg" alt="shop item tag" />
                        <div>
                          25,700
                          <span>円</span>
                        </div>
                      </div>
                      <a href="#" target="_blank" class="item__button primary">
                        ご購入はコチラから
                      </a>
                      <a href="#" target="_blank" class="item__button gray">
                        商品をかごに追加
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </section>

            <a href="#" targt="_blank" class="content__button">
              <span>もっと見る</span>
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Content block E - Full width blocks -->
      <div id="FullItem" class="area">
        <div class="container">
          <div class="content__block">
            <div class="content__title">
              <img
                class="image"
                src="https://fakeimg.pl/1280x250/ee504d/fff4dc"
                alt="shop item image"
                loading="lazy"
              />
            </div>

            <div class="content__box full-width" data-aos="fade-up">
              <ul class="item__block">
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                      <div
                        class="item__description"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                      <div
                        class="item__description"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
                <li class="item__box">
                  <a
                    target="_blank"
                    href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                  >
                    <img
                      src="https://image.rakuten.co.jp/twdirect/cabinet/07287065/compass1576649864.jpg"
                      class="item__image"
                      loading="lazy"
                      alt="喜之坊パイナップルケーキ（320g/8個入）お菓子 アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                    />
                  </a>
                  <div class="item__body">
                    <a
                      target="_blank"
                      href="https://item.rakuten.co.jp/twdirect/luckygift-009/"
                    >
                      <div
                        class="item__name"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                      <div
                        class="item__description"
                        title="喜之坊パイナップルケーキ（320g/8個入）お菓子
                  アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】"
                      >
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                        喜之坊パイナップルケーキ（320g/8個入）お菓子
                        アフタヌーンティー 台湾お菓子 【喜之坊】【台湾直送】
                      </div>
                    </a>
                    <div class="item__price">
                      <img src="images/item-tag.svg" alt="shop item tag" />
                      <div>
                        25,700
                        <span>円</span>
                      </div>
                    </div>
                    <a href="#" target="_blank" class="item__button primary">
                      ご購入はコチラから
                    </a>
                    <a href="#" target="_blank" class="item__button gray">
                      商品をかごに追加
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Content block F - Tags & links -->
      <div id="Tags" class="area">
        <div class="container">
          <div class="content__block content__tags">
            <div class="content__title">
              <img
                class="image"
                src="https://fakeimg.pl/1280x250/ee504d/fff4dc"
                alt="shop item image"
                loading="lazy"
              />
            </div>
            <div class="content__item">
              <div class="search__block">
                <div class="search__box">
                  <input
                    v-model="searchValue"
                    type="text"
                    class="search__input"
                    placeholder="SALEアイテム検索"
                    @keyup.enter="searchSale"
                  />
                  <div class="search__submit" @click="searchSale">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
              <transition-group
                id="Tags"
                class="tag__block"
                name="tag"
                tag="div"
                data-aos="zoom-in"
                data-aos-easing="ease-in-out-cubic"
                data-aos-duration="1000"
              >
                <a
                  v-for="tag in tags"
                  :key="tag.name"
                  :href="tag.link"
                  target="_blank"
                >
                  {{ tag.name }}
                </a>
              </transition-group>
            </div>

            <div class="content__item">
              <a href="#" target="_blank" class="content__button more">
                <span>EDM サブスク</span>
                <i class="fas fa-chevron-circle-right"></i>
              </a>
              <a
                href="#"
                target="_blank"
                class="content__button more more__secondary"
              >
                <span>COUPON</span>
                <i class="fas fa-chevron-circle-right"></i>
              </a>
              <a href="#" target="_blank" class="content__button more">
                <span>店鋪 TOP</span>
                <i class="fas fa-chevron-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="area">
        <div class="container footer">
          <div class="footer__block">
            <img
              class="image footer__image flow pc"
              src="images/guide_00.jpg"
              loading="lazy"
              data-aos="fade-up"
            />
            <div class="footer__box">
              <div class="footer__title">
                <span data-aos="fade-right" data-aos-delay="400">
                  ショッピングガイド
                </span>
                <h3 data-aos="fade-left" data-aos-delay="100">
                  SHOPPING GUIDE
                </h3>
              </div>
              <img
                class="image footer__image pc sp"
                src="images/guide_01.png"
                loading="lazy"
                data-aos="fade-left"
                data-aos-delay="100"
                data-aos-easing="ease-in-out-cubic"
              />
              <img
                class="image footer__image pc"
                src="images/guide_02.png"
                loading="lazy"
                data-aos="fade-left"
                data-aos-delay="200"
                data-aos-easing="ease-in-out-cubic"
              />
              <img
                class="image footer__image pc sp"
                src="images/guide_03.png"
                loading="lazy"
                data-aos="fade-left"
                data-aos-delay="300"
                data-aos-easing="ease-in-out-cubic"
              />
            </div>
            <div class="footer__item">
              TWDirect
            </div>
          </div>
        </div>
      </footer>

      <div id="GoTop" class="gotop__box">
        <div class="gotop__ele">
          <i class="fas fa-angle-up"></i>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/9188edaa95.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/vue.global.prod.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <!-- <script src="js/swiper.min.js"></script> -->
    <script src="js/splide.min.js"></script>
    <script src="js/splide-extension-auto-scroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.0/dist/locomotive-scroll.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      // Set time format YYYY-MM-DD hh:mm
      // ex 2022-12-21 11:49
      // Expect 12-21 11:49:00
      const dateTime = '2022-06-12 23:49'
      const tags = [
        {
          name: '#コスメ',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#雑貨・文房具',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#ソフトドリンク',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#ジュエリー・アクセサリー',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#スポーツ・車',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#ランキング入り',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#楽天Books',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#エンタメ・デジタル家電',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#グルメ',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
        {
          name: '#ファッション',
          link: 'https://search.rakuten.co.jp/search/mall/コスメ/?sid=379923',
        },
      ]
      const VueApp = Vue.createApp({
        el: 'Event page new',
        data() {
          return {
            tags,
            searchValue: null,
          }
        },
        mounted() {
          this.shuffle()
          this.countloop()
          this.setSplide()
          this.setScrollEffect()
          this.setAOS()
          // this.setLocomotiveScroll()
          // this.addMoreExpension()
          // this.setSwiper()
        },
        methods: {
          searchSale() {
            if (this.searchValue) {
              const href = `https://search.rakuten.co.jp/search/mall/${this.searchValue}/?sid=379923`
              window.open(href, '_blank')
            }
          },
          shuffle() {
            setInterval(() => {
              this.tags = _.shuffle(this.tags)
            }, 8000)
          },
          countloop() {
            countDown(dateTime)
            requestAnimationFrame(this.countloop)
          },
          addMoreExpension() {
            const mores = document.querySelectorAll('.more')
            mores.forEach((m) => {
              m.addEventListener('click', (e) => {
                $(e.target).addClass('more--active').prev().slideDown()
              })
            })
          },
          setLocomotiveScroll() {
            const LocomotiveScrollParams = {
              el: document.querySelector('body'),
              smooth: true,
              repeat: true,
              lerp: 0.05,
              tablet: {
                smooth: true,
                breakpoint: 550,
              },
              smartphone: {
                smooth: false,
              },
            }
            const scroll = new LocomotiveScroll(LocomotiveScrollParams)
          },
          setScrollEffect() {
            const Marquees = document.querySelectorAll('.marquee')
            const body = document.querySelector('body')
            let offset = 0
            let scrollHeight = 0
            let navTop = $('#Nav').offset().top
            $('#Navbar').on('click', 'a', function (e) {
              e.preventDefault()
              const anchor = $(this).attr('href')
              const anchorTop = $(anchor).offset().top
              $('html, body')
                .stop()
                .animate(
                  {
                    scrollTop: anchorTop - $('#Navbar').height(),
                  },
                  700,
                )
            })
            $('#GoTop').on('click', () => {
              $('html, body').animate(
                {
                  scrollTop: 0,
                },
                700,
              )
            })
            $(window).resize(() => {
              navTop = $('#Nav').offset().top
            })
            const setOffset = () => {
              marqueeMove()
              if (scrollHeight < window.scrollY) {
                scrollHeight = window.scrollY
                offset -= 3
              } else {
                scrollHeight = window.scrollY
                offset += 3
              }
              if ($(window).scrollTop() >= 300) {
                $('#GoTop').fadeIn()
              } else {
                $('#GoTop').fadeOut()
              }
              if ($(window).scrollTop() >= navTop) {
                body.style.paddingTop = $('#Navbar').height() + 'px'
                $('#Navbar').addClass('nav--fixed')
                return
              }
              body.style.paddingTop = '0px'
              $('#Navbar').removeClass('nav--fixed')
            }
            const plusOffset = () => {
              offset += 0.6
              marqueeMove()
              window.requestAnimationFrame(plusOffset)
            }
            const marqueeMove = () => {
              Marquees.forEach((m) => {
                m.style.backgroundPositionY = offset + 'px'
              })
            }
            window.requestAnimationFrame(plusOffset)
            window.addEventListener('scroll', setOffset)
          },
          setSplide() {
            const splideParams = {
              perPage: 2,
              pagination: false,
              arrows: false,
              autoScroll: {
                speed: 2,
                pauseOnHover: false,
                pauseOnFocus: true,
              },
              type: 'loop',
              // rewind: true,
              // rewindByDrag: true,
              // drag: 'free',
              // snap: true,
              // easing: 'linear',
              speed: 3000,
            }
            const splide1 = new Splide('.splide', splideParams)
            splide1.mount(window.splide.Extensions)
          },
          setAOS() {
            const AOSParams = { once: true }
            AOS.init(AOSParams)
          },
          setSwiper() {
            const swiperParams = {
              slidesPerView: 3,
              spaceBetween: 30,
              touchRatio: 0.5,
              longSwipesRatio: 0.5,
              grabCursor: true,
              // followFinger: false,
              loop: true,
              noSwiping: false,
              speed: 5000,
              freeMode: false,
              autoplay: 1,
              autoplayDisableOnInteraction: false,
              breakpoints: {
                576: {
                  slidesPerView: 'auto',
                  spaceBetween: 0,
                },
                768: {
                  slidesPerView: 'auto',
                  spaceBetween: 0,
                  // noSwiping: false,
                },
                1280: {
                  slidesPerView: 2,
                  spaceBetween: 30,
                },
              },
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            }
            const swiper1 = new Swiper('.swiper__1', swiperParams)
          },
        },
      }).mount('#app')
      const consoleStyle =
        "font-weight: bold; font-size: 1.05rem; font-family: '微軟正黑體'; color: #ffb93e;"
    </script>
  </body>
</html>
